.myblock {
    width: 200px;
    height: 200px;
    background-color: green;
}

.color-green {
    color: green;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.card {
    height: 300px;
    border: 1px solid black;
    padding: 10px;
    color: #fff;
}



.red {
    background-color: red;

}

.green {
    background-color: green !important;
}